@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

*,
*::before,
*::after {
  margin: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: #f2e9e4;
}

:root {
  font-family: "Roboto", "Arial", sans-serif;
}

a {
  text-decoration: none;
}
